.serachNotes {
    height:100%;

}

.jumbotron{
    padding: 10px !important;
}

.noteListTable{
    height: 82vh !important;

    padding: 6px;
    overflow-y: scroll;
    margin-top: 4px;

}




/*css for table column 2 font size*/
td:nth-child(4)
{
    font-size: 11px;
}



.deleteNote
{
    color: maroon !important;
    padding-top: 9px;

}

.addNote
{
    margin-bottom: 3px !important;
}

.container-fluid,
.row-fluid { height: inherit; }







