.jumbotronDetails{
    /*height:80vh !important;*/
    /*min-height: 100%;*/
    /*overflow-y: auto;*/
}

.notesJumbotron {
    padding: 20px;
    height: 100%;
}

.notesCreated
{
    font-size: 12px;
    color: cornflowerblue;
}

.notesCreatedTime
{
    font-size: 11px;
    color: grey;
}

.notesUpdated
{
    font-size: 12px;
    color: cornflowerblue;
}

.notesUpdatedTime
{
    font-size: 11px;
    color: grey;
}

.noteDetails
{
    overflow-y: scroll;
    width: 100%;
}

.htmlEditorJumbotron
{
    overflow-y: auto;
    max-height: 40vh !important;
    padding-bottom: 2px;

}

.glyphiconButton {
    margin-right: 4px;
}

.spn { color:blue; font-weight:bold; }

.tagText{
    width: 120px;
}

.btnSaveNote
{
    margin:10px;
}

.container-fluid,
.row-fluid { height: inherit; }