<template name="notes">
    <!--<link href="red.css" rel="stylesheet" type="text/css" />-->


    <script src="/client/js/file_upload.min.js" ></script>

    <script language="Javascript">
        var i=1;
//        function creatediv(element)
//        {
//            if(txtTag.value != "") {
//                mNewObj = document.createElement('div');
//
//
//                mNewObj.id = "BOX" + i;
//                mNewObj.style.backgroundColor = "grey";
//                mNewObj.style.visibility = "show";
//                mNewObj.innerText = txtTag.value + i;
//                document.getElementById("parentTag").appendChild(mNewObj);
////                alert(mNewObj.innerText);
//                i++;
//
//                txtTag.value = '';
//            }
//        }

        function add(type){
            var element=document.createElement("DIV");
            element.setAttribute("type",type);
            element.setAttribute("value",type);
            element.setAttribute("name",type);
            var foo=document.getElementById("childTag");
            foo.appendChild(element);
        }

        //  below function is for remove tag onclose icon click
        function removeElement(parentDiv, childDiv){
            if (childDiv == parentDiv) {
                alert("The parent div cannot be removed.");
            }
            else if (document.getElementById(childDiv)) {
                var child = document.getElementById(childDiv);
                var parent = document.getElementById(parentDiv);
                parent.removeChild(child);
            }
            else {
                alert("Child div has already been removed or does not exist.");
                return false;
            }
        }


    </script>


    <script>




        $(function() {
            $('textarea#noteDetails').editable({
                theme:'royal',
                inlineMode: false,
                placeholder: 'Note details...',
                colors: [
                    '#15E67F', '#E3DE8C', '#D8A076', '#D83762', '#76B6D8', 'REMOVE',
                    '#1C7A90', '#249CB8', '#4ABED9', '#FBD75B', '#FBE571', '#FFFFFF'
                ],
                minHeight: 100,
                maxHeight: 350,
                showFileUpload: true
            })





        });


    </script>

    <div class="jumbotron notesJumbotron jumbotronDetails">

        <div>

            <a href="#" class="btn btn-default btn-sm btnCreateNote"><span class="glyphicon glyphicon-plus glyphiconButton"></span>Create Note</a>

            <a href="#" class="btn btn-sm btn-warning pull-right"><span class="glyphicon glyphicon-share glyphiconButton"></span>Share</a>

        </div>

        <br/>

        <div>


            <!--<div id="tid"></div>-->
            <form method="post">
                <input id="txtTag" type="text" name="element" placeholder="Write tag name" class="tagText">
                <input id="btn" type="button" value="Create Tag" class="btn btn-info btn-sm">
                <!--<input id="btn" type="button" value="Create Tag" class="btn btn-info btn-sm" onclick="creatediv(element)">-->
                <!--<input id="btn1" type="button" value="Create Tag" class="btn btn-info btn-sm">-->
            </form>



            <!--<form>-->

            <!--<input type="text" name="element">-->

            <!--<input type="button" class="btn btn-info btn-sm" value="Add Tag" onclick="add(element.value)">-->

            <!--<span id="fooBar"> </span>-->

            <!--</form>-->

            <!--<a href="#" class="btn btn-info btn-sm" onclick="add(element.value)"><span class="glyphicon glyphicon-tag glyphiconButton"></span>Add tag</a>-->
        </div>

        <!--below code for create tag-->

        <br/>

        <div id="parentTag">
            <span class="tag label label-default" ID="childTag">
              <span>Example Tag</span>
              <a><i class="remove glyphicon glyphicon-remove" onClick="removeElement('parentTag','childTag');"></i></a>
            </span>
        </div>



        <hr/>

        <div class="jumbotron" style="overflow-y: auto;">

        <div>
        <span>
            <label class="control-label notesCreated">Created:</label>
            <label class="control-label notesCreatedTime">24 Mar 2015 11:10 AM</label>
        </span>
        <span class="pull-right">
             <label class="control-label notesUpdated" >Updated:</label>
            <label class="control-label notesUpdatedTime">25 Mar 2015 12:16 PM</label>
        </span>
        </div>





        <!--code for textEditor-->



        <input class="form-control noteDetails" id="noteTitle" type="text" placeholder="Note title">



        <br/>



        <div class="jumbotron htmlEditorJumbotron">
            <textarea id="noteDetails" class="form-control custom-control" rows="15"></textarea>

            <!--<span class="input-group-addon btn btn-primary">Save</span>-->

            <br/>

        </div>
            <a href="#" class="btn btn-sm btn-success btnSaveNote"><span class="glyphicon glyphicon-save"></span>Save</a>
        </div>
        <!--below code for addTag on button click-->
        <!--<form>-->

        <!--<input type="text" name="element">-->

        <!--<input type="button" value="Add" onclick="add(element.value)">-->

        <!--<span id="fooBar"> </span>-->

        <!--</form>-->

    </div>

</template>