<template name="notes">
    <!--<link href="red.css" rel="stylesheet" type="text/css" />-->
    <script>
        $(function() {
            $('textarea#noteDetails').editable({
                theme:'royal',
                inlineMode: false,
                placeholder: 'Note details...',
                colors: [
                    '#15E67F', '#E3DE8C', '#D8A076', '#D83762', '#76B6D8', 'REMOVE',
                    '#1C7A90', '#249CB8', '#4ABED9', '#FBD75B', '#FBE571', '#FFFFFF'
                ]
            })

        });


    </script>
    <div class="jumbotron notesJumbotron jumbotronDetails">
        <div>

            <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus glyphiconButton"></span>Create New Note</a>

            <a href="#" class="btn btn-sm btn-warning pull-right"><span class="glyphicon glyphicon-share glyphiconButton"></span>Share</a>

        </div>

        <br/>

        <div>
            <a href="#" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-tag glyphiconButton"></span>Add tag</a>
        </div>

        <!--below code for create tag-->

        <br/>

        <div id="parentTag">
        <span class="tag label label-default" ID="childTag">
          <span>Example Tag</span>
          <a><i class="remove glyphicon glyphicon-remove" onClick="removeElement('parentTag','childTag');"></i></a>
        </span>
        </div>



        <hr/>

        <div>
        <span>
            <label class="control-label notesCreated">Created:</label>
            <label class="control-label notesCreatedTime">24 Mar 2015 11:10 AM</label>
        </span>
        <span class="pull-right">
             <label class="control-label notesUpdated" >Updated:</label>
            <label class="control-label notesUpdatedTime">25 Mar 2015 12:16 PM</label>
        </span>
        </div>





        <!--code for textEditor-->



        <input class="form-control noteDetails" id="noteTitle" type="text" placeholder="Note title">



        <br/>



        <div class="jumbotron htmlEditorJumbotron">
            <textarea id="noteDetails" class="form-control custom-control" rows="15"></textarea>

            <!--<span class="input-group-addon btn btn-primary">Save</span>-->



        </div>

        <a href="#" class="btn btn-sm btn-success btnNoteSave"><span class="glyphicon glyphicon-save"></span>Save</a>
        <!--below code for addTag on button click-->
        <!--<form>-->

        <!--<input type="text" name="element">-->

        <!--<input type="button" value="Add" onclick="add(element.value)">-->

        <!--<span id="fooBar"> </span>-->

        <!--</form>-->

    </div>

</template>