<template name="notes">
    <!--<link href="red.css" rel="stylesheet" type="text/css" />-->

    <!--//below script is for share drpdwn-->
    <script>
        var options = [];

        $( '.dropdown-menu a' ).on( 'click', function( event ) {

            var $target = $( event.currentTarget ),
                    val = $target.attr( 'data-value' ),
                    $inp = $target.find( 'input' ),
                    idx;

            if ( ( idx = options.indexOf( val ) ) > -1 ) {
                options.splice( idx, 1 );
                setTimeout( function() { $inp.prop( 'checked', false ) }, 0);
            } else {
                options.push( val );
                setTimeout( function() { $inp.prop( 'checked', true ) }, 0);
            }

            $( event.target ).blur();

            console.log( options );
            return false;
        });
    </script>

    <script src="/client/js/file_upload.min.js" ></script>

    <script language="Javascript">
        var i=1;
//        function creatediv(element)
//        {
//            if(txtTag.value != "") {
//                mNewObj = document.createElement('div');
//
//
//                mNewObj.id = "BOX" + i;
//                mNewObj.style.backgroundColor = "grey";
//                mNewObj.style.visibility = "show";
//                mNewObj.innerText = txtTag.value + i;
//                document.getElementById("parentTag").appendChild(mNewObj);
////                alert(mNewObj.innerText);
//                i++;
//
//                txtTag.value = '';
//            }
//        }

        function add(type){
            var element=document.createElement("DIV");
            element.setAttribute("type",type);
            element.setAttribute("value",type);
            element.setAttribute("name",type);
            var foo=document.getElementById("childTag");
            foo.appendChild(element);
        }

        //  below function is for remove tag onclose icon click
        function removeElement(parentDiv, childDiv){
            if (childDiv == parentDiv) {
                alert("The parent div cannot be removed.");
            }
            else if (document.getElementById(childDiv)) {
                var child = document.getElementById(childDiv);
                var parent = document.getElementById(parentDiv);
                parent.removeChild(child);
            }
            else {
                alert("Child div has already been removed or does not exist.");
                return false;
            }
        }


    </script>

    <script>




        $(function() {
            $('textarea#noteDetails').editable({
                theme:'royal',
                inlineMode: false,
                placeholder: 'Note details...',
                colors: [
                    '#15E67F', '#E3DE8C', '#D8A076', '#D83762', '#76B6D8', 'REMOVE',
                    '#1C7A90', '#249CB8', '#4ABED9', '#FBD75B', '#FBE571', '#FFFFFF'
                ],
                minHeight: 220,
                maxHeight: 220,
                showFileUpload: true
            })





        });


    </script>

<!--test code of grid id test-->
    <div id="test" class="jumbotron container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div>

                    <a href="#" class="btn btn-default btn-sm btnCreateNote"><span class="glyphicon glyphicon-plus glyphiconButton"></span>Create Note</a>

                    <!--<a href="#" class="btn btn-sm btn-warning pull-right"><span class="glyphicon glyphicon-share glyphiconButton"></span>Share</a>-->



                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" data-label-placement>Share</button>
                        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                        <ul class="dropdown-menu" style="max-height: 100px; overflow-y: auto;">
                            <!--<li><input type="checkbox" id="ID" name="NAME" value="VALUE"><label for="ID">Label</label></li>-->

                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>
                            <li><a href="#" class="small" data-value="option4" tabIndex="-1"><input type="checkbox"/>&nbsp;Option 4</a></li>

                            <!-- Other items -->
                        </ul>
                    </div>


                </div>

                <br/>


                {{#if isTagVisible}}
                    {{> tags}}
                {{/if}}
                
                <div class="jumbotron" style="overflow-y: auto;">

                <div>
                <span>
                <label class="control-label notesCreated">Created:</label>
                <label class="control-label notesCreatedTime">24 Mar 2015 11:10 AM</label>
                </span>
                <span class="pull-right">
                <label class="control-label notesUpdated" >Updated:</label>
                <label class="control-label notesUpdatedTime">25 Mar 2015 12:16 PM</label>
                </span>
                </div>





                <!--code for textEditor-->



                <input class="form-control noteDetails" id="noteTitle" type="text" placeholder="Note title">



                <br/>



                <!--<div class="jumbotron htmlEditorJumbotron">-->
                <textarea id="noteDetails" class="form-control custom-control htmlEditorJumbotron" rows="15"></textarea>

                <br/>

                <!--</div>-->
                <a href="#" class="btn btn-sm btn-success btnSaveNote"><span class="glyphicon glyphicon-floppy-disk"></span>Save</a>
                <a href="#" class="btn btn-sm btn-warning btnClearNote btnCreateNote"><span class="glyphicon glyphicon-refresh"></span>Clear</a>
                </div>


            </div>
        </div>
    </div>




</template>